
		<section class="banner">
			<div class="container">
				<div class="row justify-content-center align-items-center pad-tab" data-aos="fade-up">
					<div class="banner-text col-sm-12 col-md-6">
						<h1 class="text-main secondary-col">Pilih Apapun Yang Kamu Suka
						</h1>
						<p class="text-second">Ada Bermacam-Macam Masker Bordir Yang Bisa Kamu Dapatkan Disini.</p>
					</div>
					<div class="banner-image col-sm-12 col-md-6 d-none d-sm-block">
						<img src="{{ site.baseurl }}/assets/images/pakaimasker.png" alt="image-banner" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
